

@{
    ViewData["Title"] = "My Companies";
}

@*<table>
    <tr>
        <th>Company Name</th>
        <th>NumberOfWorkers</th>
        <th>Creation Date</th>
        <th>Creator</th>
    </tr>
       @foreach (var item in Model.CompanyList)
       {
        <tr>
            <td>@Html.DisplayFor(modelItem =>item.Name)</td>
            <td>@Html.DisplayFor(modelItem =>item.workers.Count)</td>
            <td>@Html.DisplayFor(modelItem =>item.CreateDate)</td>
            <td>@Html.DisplayFor(modelItem =>item.CreatorName)</td>
        </tr>
       }
    </table>*@

